@use "../utilities" as *;

.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12rem;
  font-weight: bold;
  position: absolute;
  background-color: white;
  transition: height 0.2s ease;
  z-index: 99;

  &.minimized {
    position: fixed;
    top: 0;
    height: 64px;
  }

  #logo {
    padding: 0.5rem 0;
    height: 100%;
  }

  #nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 4rem;

    a {
      position: relative;

      &::after {
        content: "";
        display: block;
        background-color: currentColor;
        width: 0;
        height: 0;
        transition: width 0.3s ease, height 0s 0.3s;
        position: absolute;
        top: 100%;
      }

      &.active::after {
        height: 2px;
        width: 100%;
        transition: width 0.3s ease, height 0s;
      }

      @include hover {
        &::after {
          height: 2px;
          width: 100%;
          transition: width 0.3s ease, height 0s;
        }
      }
    }
  }

  .toggleNav {
    width: 2em;
    height: 2em;
    padding: 0;
    display: none;
  }

  @include media-query($small) {
    padding: 0 2rem;

    .toggleNav {
      display: initial;
    }

    #nav {
      flex-flow: column;
      position: absolute;
      top: 64px;
      left: 0;
      width: 100%;
      padding: 2rem 0;
      background-color: white;

      &.minimized {
        display: none;
      }
    }
  }
}
