@use "../_utilities/" as *;

.hero {
  height: 100vh;
  background: aqua;
  color: white;
  text-shadow: 0 0 8px rgba(black, 0.2);
  padding: 5rem 20rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url(/img/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  img {
    position: absolute;
    top: 4rem;
    width: 4rem;
  }

  h1 {
    text-transform: uppercase;
    font-size: 8em;
    line-height: 0.75;
    margin: 0;

    &:first-of-type {
      transform: translateX(-3em);
    }
    &:last-of-type {
      transform: translateX(2.5em);
    }
  }

  @include media-query($small) {
    padding: 2rem 5rem;
    width: 100vw;

    h1 {
      font-size: 4em;
      transform: none !important;

      &::after {
        content: '';
        display: block;
        background-color: currentColor;
        width: 2rem;
        height: 0.2rem;
        margin: 1rem auto;
      }
    }
  }
}
